# This GitHub Actions workflow automatically creates and pushes a Git tag if it does not exist.
name: Auto Create Git Tag
on:
  push:
    branches: [ master ]
jobs:
  create-git-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git_tag_commit=$(git rev-parse --verify --quiet refs/tags/$(cat version.txt))
          if [ -n "$git_tag_commit" ]; then
              echo "Tag $(cat version.txt) already exists. Skipping tag creation."
          else
              echo "Creating and pushing tag $(cat version.txt)."
              git tag $(cat version.txt)
              git push origin $(cat version.txt)
          fi
          
    

